//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 30 21:06:10 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LED<12>" LOCATE = SITE "P5" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "R1" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "R2" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "U1" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "V1" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "P2" LEVEL 1;
COMP "DIP<11>" LOCATE = SITE "T3" LEVEL 1;
COMP "DIP<12>" LOCATE = SITE "T1" LEVEL 1;
COMP "DIP<13>" LOCATE = SITE "R3" LEVEL 1;
COMP "DIP<14>" LOCATE = SITE "P3" LEVEL 1;
COMP "DIP<10>" LOCATE = SITE "U2" LEVEL 1;
COMP "DIP<15>" LOCATE = SITE "P4" LEVEL 1;
COMP "RESET" LOCATE = SITE "E16" LEVEL 1;
COMP "DIP<0>" LOCATE = SITE "U9" LEVEL 1;
COMP "DIP<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "DIP<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "DIP<3>" LOCATE = SITE "R6" LEVEL 1;
COMP "DIP<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "DIP<5>" LOCATE = SITE "V7" LEVEL 1;
COMP "DIP<6>" LOCATE = SITE "V6" LEVEL 1;
COMP "DIP<7>" LOCATE = SITE "V5" LEVEL 1;
COMP "DIP<8>" LOCATE = SITE "U4" LEVEL 1;
COMP "DIP<9>" LOCATE = SITE "V2" LEVEL 1;
COMP "CLK_undiv" LOCATE = SITE "E3" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "T5" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "U7" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "U6" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "V4" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "U3" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "CLK" BEL "CLK_DIV_PROCESS.clk_counter_0" BEL
        "CLK_DIV_PROCESS.clk_counter_1" BEL "CLK_DIV_PROCESS.clk_counter_2"
        BEL "CLK_DIV_PROCESS.clk_counter_3" BEL
        "CLK_DIV_PROCESS.clk_counter_4" BEL "CLK_DIV_PROCESS.clk_counter_5"
        BEL "CLK_DIV_PROCESS.clk_counter_6" BEL
        "CLK_DIV_PROCESS.clk_counter_7" BEL "CLK_DIV_PROCESS.clk_counter_8"
        BEL "CLK_DIV_PROCESS.clk_counter_9" BEL
        "CLK_DIV_PROCESS.clk_counter_10" BEL "CLK_DIV_PROCESS.clk_counter_11"
        BEL "CLK_DIV_PROCESS.clk_counter_12" BEL
        "CLK_DIV_PROCESS.clk_counter_13" BEL "CLK_DIV_PROCESS.clk_counter_14"
        BEL "CLK_DIV_PROCESS.clk_counter_15" BEL
        "CLK_DIV_PROCESS.clk_counter_16" BEL "CLK_DIV_PROCESS.clk_counter_17"
        BEL "CLK_DIV_PROCESS.clk_counter_18" BEL
        "CLK_DIV_PROCESS.clk_counter_19" BEL "CLK_DIV_PROCESS.clk_counter_20"
        BEL "CLK_DIV_PROCESS.clk_counter_21" BEL
        "CLK_DIV_PROCESS.clk_counter_22" BEL "CLK_DIV_PROCESS.clk_counter_23"
        BEL "CLK_DIV_PROCESS.clk_counter_24" BEL
        "CLK_DIV_PROCESS.clk_counter_25" BEL "CLK_undiv_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

